body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Light background for contrast */
}


.flag-container {
 position: relative;
}

.stars{ 
  position: absolute; /* Position on top of stripes*/
  top: 0;
  left: 0;
  width: 100px;
  height: auto;
  
}

.stripes {
  border-collapse: collapse; /* Removes space between table cells */
  width: 200px;
}

.stripes tr {
  height: 10px; 
}

.red {
  background-color: red; 
}

.white {
  background-color: white; 
}

