* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 18px;
}

header{
  font-family: cursive;
  font-size: 70px;
  font-style: italic;
  text-align: center;
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
}


.grid-container{
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 5%;
  margin-top: 10px;
}

.card {
  border: 1px solid black;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.image {
  width: 200px;
  height: 200px;
}

.button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  transition: .2s opacity;
}

.button:hover{
  opacity: .8;
  cursor: pointer;
}

footer{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 18px;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 796px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 column */
  }
}

@media (orientation: portrait) {
  .card {
    padding: 20px;
  }
}
  
